streamlit==1.33.0
python-dotenv
requests
numpy
pandas
openai
langchain==0.3.22
langgraph
langchain-community==0.3.19
langchain-openai
streamlit-chat
anthropic
langchain_anthropic
psycopg2-binary
streamlit-autorefresh
streamlit-cookies-controller
st-pages
streamlit-js-eval
